# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml

# Expo
.expo/
dist/
.idea/

# Next.js
.next/

# Environment variables
.env*
!.env.example

# Backups
*.backup

# OS-specific
.DS_Store
Thumbs.db

# Logs
*.log
logs/
